* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: rgba(38, 4, 4, 1);
  border: 1px solid red;
}

#workspaces button.active {
  font-weight: bold;
  color: red;
}

.modules-left {
  padding: 0 10px;
  border-radius: 0 25px 25px 0;
}

.modules-center {
  padding: 0 10px;
  border-radius: 25px;
}

.modules-right {
  border-radius: 25px 0 0 25px;
}

.modules-right :nth-child(1) {
  margin-right: 10px;
}
